.slider {
    position: relative;
    &__slide {
        min-height: 100px;
    }
    &__arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 20px;
        background: none;
        border: none;
        color: $primary-color;
        font-size: 2em;
        &:hover,
        &:focus,
        &:active {
            transform: scale(1.1);
            cursor: pointer;
        }
        &--prev {
            left: 0;
            i {
                display: inline-block;
                margin-left: -3px;
            }
        }
        &--next {
            right: 0;
            i {
                display: inline-block;
                margin-right: -3px;
            }
        }
    }
    &__dots {
        padding: 40px 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
            display: inline-block;
        }
    }
    &__dot {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $primary-color;
        border: $border-width solid $secondary-color;
        &:hover,
        &:focus,
        &:active,
        &--active {
            background-color: $secondary-color;
            border-color: $primary-color;
            cursor: pointer;
        }
    }
}