$social-size: 32px;
$social-border: 2px;
$light-gray:lightgray;
.social {
    list-style:none;
    padding: 0;
    &__item {
        display: inline-block;
        margin:5px;
    }
    &__link{
        text-align: center;
        display: inline-block;
        color: $light-gray;
        text-decoration: none;
        width: $social-size;
        height: $social-size;
        border: 2px solid $light-gray;
        border-radius: 50%;
        line-height: calc(#{$social-size} - 2 * #{social-border});
        @include tr;
        @include hover {
            background-color: $light-grey;
            color: $secondary-color;
        }
    }
}