$title-ff: Roboto, sans-serif;
$body-ff: Raleway, sans-serif;
$btn-ff:  'Open Sans', sans-serif;

$body-color: #333333;
$primary-color: #ffcc00;
$secondary-color: #fff;
$dark-gray: #666666;
$medium-gray: #898f8f;
$light-gray: #cccccc;

$border-width: 1px;

$body-bg: $secondary-color;